@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #222831;
  --white: #ffffff;
  --grey: #31363F;
  --primary: #76ABAE;
  --offWhite: #EEEEEE;
  --cream: #E2DFD0;
  --darkBlack: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #222831;
    --white: #ffffff;
  }
}

body {
  color: var(--white);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}